body {
  font-family:'Manrope', sans-serif;
  background-color: #fff;
  margin: 0;
  color: #090937;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 40px;
}

.banner{
  width: 100%;
  max-width: 1320px;
  height: 400px;
  border-radius: 8px;
  margin: 20px auto;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner img:hover{
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(108, 92, 231, 0.15);
  border: 1px solid #6c5ce7;
  transition: all 0.3s ease;


}
.secaoLivros {
  width: 1340px;
  height: 264px;
  margin-bottom: 50px;
  overflow: hidden;
  margin-top: 80px;
}

.secaoHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.secaoHeader h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.vermais {
  color: #EF6B4A;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.livrosGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.cardLivro {
  width: 320px;
  height: 200px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  padding: 10px;
  gap: 20px;
  opacity: 1;
  background-color: #F4F4FF;
  display: flex;
  transition: transform 0.2s;
}

.cardLivro:hover {
  transform: translateY(-5px);
}

.capaContainer img {
  width: 120px;
  height: 180px;
  border-radius: 4px;
  opacity: 1;
  object-fit: cover;
}

.infoLivro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.textoPrincipal h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 5px 0;
  color:#090937;
}

.autor {
  font-size: 16px;
  font-weight: 600;
  color: #09093799;
  margin: 0;
}

.preco {
  color: #6251DD;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  text-align: left;
}