.tudo {
    width: 100%;
    height: 120px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.logo img {
    width: 60px;
    height: 39px;
}

.botoes {
    display: flex;
    gap: 10px;
    align-items: center;
}

.perfil {
    background-color: #F4F4FF;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.perfil img {
    width: 20px;
    height: 20px;
}

.cart {
    background-color: #F4F4FF;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.cart img {
    width: 20px;
    height: 20px;
}